* {
    list-style: none;
    padding: 0;
    margin: 0;

}

a {
    color: #333;
    text-decoration: none;
}

#listt {
    width: 100%;
}

#listt .content {
    width: 1190px;
    margin: auto;
}

.header {
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    background: #f4f4f4;
    color: #666;
    line-height: 40px;
    min-width: 1190px;
    position: relative;
    z-index: 400;
    font-size: 13px;
}

.header .content {
    position: relative;
    margin: auto;
    width: 1190px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.header .left {
    width: 380px !important;
}

.header .left {
    float: left;
    padding-left: 5px;
}

.header li {
    position: relative;
    float: left;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    z-index: 9997;
}

.header .icons.fav {
    background-position: -2px -4px;
}

.header li i {
    float: left;
    display: block;
    margin: 10px 5px 10px 0;
    width: 20px;
    height: 20px;
}

.icons {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
}

.header .left li a {
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    float: left;
    display: block;
}

.header .left li a {
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    float: left;
    display: block;
}

.header li s {
    float: left;
    display: block;
    margin: 10px 10px 10px 10px;
    width: 1px;
    height: 20px;
    border-right: 1px solid #e5e5e5;
    font-size: 0;
    overflow: hidden;
}

.header .icons.wx {
    background-position: -49px -3px;
}

.header li .wxbig,
.header li .appbig {
    position: absolute;
    top: 40px;
    left: -80px;
    display: none;
}

#weixin:hover .wxbig {
    display: block;
}

.wxbig {
    z-index: 99999;
    border: 1px solid #e5e5e5;
    background: #fff;
    display: none;
}

.wxbig .pic {
    position: relative;
    width: 258px;
    height: 258px;
    background: url(../img/wxsmall.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wxbig .txt {
    padding: 0 10px 5px;
    width: 238px;
    color: #666;
    text-align: center;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

.header .icons.app {
    background-position: -68px -3px;
}


.header li .appbig {
    position: absolute;
    top: 40px;
    left: -80px;
    display: none;
}

.appbig .pic {
    position: relative;
    width: 258px;
    height: 258px;
    background-image: url(../img/app_download.png);
    background-size: 100% 100%;
}

#app:hover .appbig {
    display: block;
}

.header .right {
    width: 785px !important;
}

.header .right {
    float: right;
}

.header .right li {
    float: right;
    width: 80px;
}

.header .right li.entry_btn a {
    background-color: #0cb95f;
    display: block;
    width: 69px;
    height: 22px;
    border-radius: 1px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 9px;
    margin-right: 0;
}

.header .right .daohang {
    position: relative;
    padding-left: 20px;
    margin-left: -20px;
}


.header .right li a.disa {
    display: block;
    float: left;
}

.header .icons.dorpdown {
    background-position: -121px 1px;
    margin-right: 0;
}

.header .right li .line {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
    width: 100%;
    height: 1px;
    border-top: 0;
    border-bottom: 1px solid #fff;
}

.header .right .daohang .other {
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    right: -1px;
    top: 40px;
    z-index: 20000;
    width: 450px;
    padding: 10px 0;
    line-height: 1.5;
    display: none;
}

.daohang:hover {
    background: #fff;
}

.header .right .daohang .other .item .h1 {
    color: #0cb95f;
    font-size: 14px;
    padding: 0 0 5px 5px;
}

.header .right .daohang .other .item {
    display: inline-block;
    width: 44%;
    vertical-align: top;
    text-align: left;
}

.header .right .daohang .other .item>a {
    display: inline-block;
    vertical-align: top;
    padding: 2px 5px;
    color: #333;
}

.header .right .daohang .other .item+.item {
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.header .right li.n {
    padding-right: 0;
}

.header .right li.person {
    width: 95px;
    padding-left: 15px;
}

.header .icons.dorpdown {
    background-position: -121px 1px;
    margin-right: 0;
}

.header .right .menu_list {
    position: absolute;
    top: 40px;
    left: -1px;
    z-index: 999;
    overflow: hidden;
    width: 96px;
    min-width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    display: none;
}

.person:hover {
    background: #fff;
}

.person:hover .menu_list {
    display: block;
    border-top: none;
}


.header .right .menu_list a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    text-indent: 15px;
    line-height: 30px;
}

.header .right li.cart {
    width: 110px;
    padding-left: 15px;
}

.header .icons.cart {
    background-position: -88px -3px;
}

.header li label {
    color: #333;
}

.header .right .cart_box {
    position: absolute;
    top: 40px;
    left: -1px;
    z-index: 9999;
    display: none;
    overflow: hidden;
    padding: 15px;
    width: 325px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: left;
    line-height: 25px;
}

.cart:hover .cart_box {
    display: block;
    border-top: none;

}

.cart:hover {
    background: #fff;
}

a.green {
    color: #0cb95f;
}

.header .right li.fix {
    width: 216px;
    text-align: right;
}

.header li.fix a {
    float: none;
    display: inline-block;
}

.headera {
    position: relative;
    z-index: 300;
}

.headera .content {
    position: relative;
    margin: 0 auto 0;
    width: 1190px;
    height: 140px;
}

.headera .logo {
    position: absolute;
    top: 32px;
    left: 10px;
    width: 330px;
}

.headera .logo a.name {
    width: 210px;
    height: 70px;
    display: block;
}

.headera .logo a img {
    width: 210px;
    height: 70px;
}

.headera .search {
    position: absolute;
    top: 39px;
    left: 340px;
    width: 550px;
}

.search_input {
    position: relative;
    width: 542px;
    height: 36px;
    border: 2px solid #0cb95f;
    line-height: 36px;
}

.search_input .opt {
    position: relative;
    float: left;
    padding: 0 10px 0 25px;
    width: 45px;
    height: 37px;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    background: #f4f4f4;
    cursor: pointer
}

.search_input .opt i {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-position: -109px 1px
}

.search_input .opt_list {
    position: absolute;
    left: 0;
    z-index: 998;
    overflow: hidden;
    width: 80px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    background: #fff;
    background: #fff
}

.search_input .opt_list:hover {
    height: auto;
    border-bottom: 1px solid #e5e5e5
}

.search_input .opt_list li {
    height: 36px;
    line-height: 36px
}

.search_input .opt_list li a {
    display: block;
    padding: 0 10px 0 25px
}

.search_input .opt_list li i {
    position: absolute;
    top: 11px;
    right: 8px;
    display: none;
    width: 15px;
    height: 15px;
    background-image: url(../img/icons.png);
    background-position: -109px 1px
}

.search_input .opt_list li.current i {
    display: block
}

.search_input .opt_list li a:hover {
    background: #f4f4f4
}

.search_input .txt {
    float: left;
    margin-left: 82px;
    padding: 5px 10px;
    width: 350px;
    height: 26px;
    border: 0;
    line-height: 26px
}

.search_input .submit {
    float: left;
    width: 90px;
    height: 38px;
    border: 0;
    background: #0cb95f;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}

.search_input .suggest {
    position: absolute;
    top: 38px;
    left: 80px;
    z-index: 1001;
    width: 370px;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #333
}

.headera .search .hot_search {
    margin-top: 10px;
    margin-left: -1px;
    font-size: 12px;
}

.clearfix {
    clear: both;
    zoom: 1;
}

.headera .search .hot_search li {
    float: left;
    display: block;
    padding: 0 12px;
    height: 14px;
    border-left: 1px solid #ccc;
}

.headera .search .hot_search li a {
    color: #999
}

.headera .search .hot_search li.noborder {
    border-left: 0
}

.headera .search .hot_search li.highlight a {
    color: #e50000
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: " ";
    font-size: 0;
}

.headera .promise {
    position: absolute;
    top: 39px;
    right: 0;
    z-index: 0;
    width: 300px
}

.headera .promise a {
    float: right;
    width: 175px;
    height: 40px;
    background-image: url(../img/icons.png);
    background-position: -88px -262px;
    display: block;
    margin-right: 10px
}

.nav1 {
    background: #0cb95f;
    position: relative;
    z-index: 202;
}

.nav1 .content {
    position: relative;
    margin: 0 auto 0;
    width: 1190px;
    height: 50px;
}

.nav1 .mainnav li.category {
    padding: 0;
    padding-left: 20px;
    width: 210px;
    background: #0aa454;
    color: #fff;
}


.nav1 .mainnav li {
    float: left;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
}

.nav1 .mainnav li.category a {
    color: #fff;
}

.nav1 .mainnav li a {
    font-size: 16px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    color: #333;
}

.nav1 .mainnav li.home {
    padding: 0 50px 0 50px;
}

.catlist {
    height: 390px;
    width: 228px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 10000;
    display: none;
}

.catlist .maincat {
    background: #fff;
    z-index: 100001;
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
}

.catlist .maincat li {
    height: 45px;
    padding: 9px 0 10px 50px;
    border-bottom: 1px dashed #e5e5e5;
    position: relative;
    margin-left: 0;
    border-top: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.catlist .maincat h2 {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    display: block;
    margin-bottom: 4px;
}

.catlist .maincat h2 a {
    font-size: 14px;
}

.catlist .maincat .sub a {
    display: block;
    float: left;
    color: #999;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    margin-right: 10px;
}

.catlist .maincat .sub a.n {
    margin-right: 0;
}

.catlist .maincat .zxyp i {
    background-position: -132px -154px;
}

.catlist .maincat i {
    width: 24px;
    height: 24px;
    left: 16px;
    top: 14px;
}

.catlist .maincat .ylqx i {
    background-position: -156px -154px;
}

.catlist .maincat .ysbj i {
    background-position: -180px -154px;
}

.catlist .maincat .jsyp i {
    background-position: -204px -154px;
}

.catlist .maincat .zyyp i {
    background-position: -252px -154px;
}

.catlist .maincat .mrhf i {
    background-position: -228px -154px;
}

.catlist .maincat i,
.catlist s {
    background-image: url(../img/icons.png);
    display: block;
    position: absolute;
}

.catlist .subcat {
    width: 758px;
    position: absolute;
    left: 229px;
    top: 0;
    z-index: 1000;
    background: #f4f4f4;
    border: 1px solid #e5e5e5;
    min-height: 389px;
    padding: 0 10px;
    font-size: 12px;
}

.catlist .subcat .sitems {
    padding: 0 45px 0 10px;
    width: 520px;
    float: left;
}

.catlist .subcat .sitems li {
    border-bottom: 1px dotted #e1e1e1;
    overflow: hidden;
    padding: 10px 0 10px 95px;
    position: relative;
}

.catlist .subcat .sitems li a {
    float: left;
    margin: 5px 8px;
    overflow: hidden;
    height: 14px;
    white-space: nowrap;
    color: #666;
}

.catlist .subcat .sitems li .bit {
    background: #0cb95f;
    height: 20px;
    line-height: 20px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 9px;
    width: 73px;
    padding-left: 5px;
    color: #fff;
    text-decoration: none;
}

.catlist .subcat .sitems li .bit label {
    background-color: #0aa454;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.catlist .subcat .sitems li .bit i {
    background-image: url(../img/icons.png);
    background-position: -14px -21px;
    right: 3px;
    top: 0;
    position: absolute;
    height: 20px;
    width: 14px;
}

.catlist .subcat .sitems li.last {
    border-bottom: 0;
    height: 25px;
}

.catlist .subcat .sitems li.last .bit2 {
    left: 432px;
    margin: 0;
}

.catlist .subcat .sitems li .bit2 label {
    background-color: #bbb;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.catlist .subcat .sitems li .bit2 i {
    background-image: url(../img/icons.png);
    background-position: -14px -21px;
    right: 3px;
    top: 0;
    position: absolute;
    height: 20px;
    width: 14px;
}

.catlist .subcat .rmpp {
    padding: 15px 0 0 10px;
    width: 169px;
    float: left;
}

.catlist .subcat .rmpp .pp a {
    display: block;
    float: left;
    height: 40px;
    width: 80px;
    margin: 0 4px 4px 0;
    border: 1px solid #eaeaea;
}

.catlist .subcat .rmpp .pp a img {
    height: 40px;
    width: 80px;
}

.catlist .subcat .rmpp .pp a.last {
    margin-right: 0;
}

.catlist .subcat .rmpp .adout a {
    display: block;
    border: 1px solid #e5e5e5;
    width: 166px;
    height: 120px;
    margin: 5px 0 9px;
}

.catlist .subcat .rmpp .adout img {
    width: 166px;
    height: 120px;
}

.catlist .subcat .rmpp .tj {
    border: 1px solid #eaeaea;
    margin-bottom: 15px;
}

.catlist .subcat .rmpp .tj h6 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px dotted #eaeaea;
    color: #666;
    display: block;
    font-size: 12px;
    padding: 8px 10px 8px 14px;
    text-align: left;
    font-weight: bold;
}

.catlist .subcat .rmpp .tj ul {
    background: #fff;
    padding: 5px 10px;
}

.catlist .subcat .rmpp .tj ul li {
    float: left;
    height: 28px;
    line-height: 28px;
    background-image: url(../img/icons.png);
    background-position: -490px -260px;
    background-repeat: no-repeat;
    color: #999;
    padding-left: 18px;
}

.catlist .subcat .rmpp .tj ul li a {
    display: block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    width: 131px;
    color: #666;
    float: left;
}

.main {
    width: 100%;
}

.main-left {
    float: left;
    margin: 20px 20px 0 0;
    width: 220px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.main-left h2 {

    padding: 0 20px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    border-bottom: 0;
    background: #f4f4f4;
    font-weight: normal;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
}

.rong {
    float: left;
    font-size: 13px;
    padding: 10px 22px;
}

.main-left1 .rong a {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    padding: 0 10px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 0 1px 1px 0;
}

.main-left1 h3 {
    padding: 0 30px;
    width: 158px;
    height: 40px;
    border-top: 1px solid #e5e5e5;
    background: none repeat scroll 0 0 #f4f4f4;
    font-weight: normal;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
    cursor: pointer;
}

.main-left1 h3 i {
    background-position: -214px -109px;
}

.main-left1 h3 i {
    float: left;
    margin: 13px 10px 10px 0;
    width: 15px;
    height: 15px;
    background-image: url(../img/icons.png);
}

.main-right {
    float: left;
    width: 947px;
    margin-top: 20px;
}

.right-t {
    font-size: 13px;
}

.right-t a {
    display: block;
    float: left;
}

.right-t i {
    float: left;
    display: block;
    margin: 3px 12px 0;
    width: 8px;
    height: 18px;
    background-image: url(../img/icons.png);
    background-position: -30px -23px;
}

.right-t span {
    color: #666;
}

.select {
    margin-top: 20px;
    border: 1px solid #ddd;
    line-height: 24px;
    font-size: 13px;
}

.select .opt {
    padding: 0 10px;
    height: 40px;
    background: #f4f4f4;
    line-height: 40px;
}

.select .tj {
    float: right;
    color: #999;
}

.select .tj b {
    margin: 0 5px;
    color: #333;
    font-weight: normal;
}

.select .sitems {
    padding: 5px 10px;
    background: #fff;
}

.select .sitems li {
    position: relative;
    overflow: hidden;
    padding: 6px 0 6px 100px;
    border-bottom: 1px solid #efefef;
    line-height: 16px;
}

.select .sitems li span.bit {
    position: absolute;
    top: 12px;
    left: 0;
    float: none;
    padding: 0;
    width: 70px;
    height: 16px;
    color: #999;
    text-align: right;
    line-height: 16px;
}

.select .sitems li a {
    float: left;
    overflow: hidden;
    margin: 0 11px 0 0;
    padding: 7px 10px;
    width: 62px;
    white-space: nowrap;
}

.select .sitems li span.plus,
.select .sitems li span.sub {
    position: absolute;
    top: 9px;
    right: 5px;
    width: 45px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    color: #999;
}

.select .sitems li span.plus i {
    background-position: -123px 0;
}

.select .sitems li span i.icons {
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 15px;
    height: 15px;
}

.icons {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
}

.select .sitems li .more {
    display: none;
}

.select .sitems li.nb {
    border-bottom: 0;
}

.filter {
    padding: 0 10px;
    height: 40px;
    border: 1px solid #e5e5e5;
    background: #f4f4f4;
    line-height: 24px;
    font-size: 13px;
}

.ckdiv.n {
    margin-left: 0;
}

.filter .ckdiv {
    margin-top: 7px;
    margin-left: 10px;
}

.ckdiv {
    position: relative;
    float: left;
    padding-left: 20px;
    cursor: pointer;
}

.ra {
    display: block;
    width: 16px;
    height: 16px;
    background-position: -79px -25px;
    position: relative;
    background-image: url(../img/icons.png);
}

.ckdiv .ra {
    position: absolute;
    top: 4px;
    left: 0;
}

.ra .checked {
    display: block;
    width: 16px;
    height: 16px;
    background-position: -98px -25px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/icons.png);
}

.filter .page {
    float: right;
    margin-top: 8px;
}

.page a.l {
    background-position: -254px 0;
}

.page a {
    float: left;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
}

.page .num {
    float: left;
    margin: 0 7px;
}

.page .num label {
    color: #0cb95f;
}

.page a.r {
    background-position: -280px -0;
}

.page a {
    float: left;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
}
.nav{
    font-size: 13px;
    background:#ccc;;
}

.nav li {
    float: left;
   background:paleturquoise;
    width: 200px;
    height:40px;
    margin-left:80px;
    text-align: center;
    line-height:40px;
    color:#e50000;
}

.goodlist {
    margin-top: 10px;
}

.goodlist li {
    float: left;
    margin-right: 14px;
    height: 349px;
    margin-bottom: 20px;
    border: 1px solid #f5f5f5;
    background: #fff;
    width: 220px;
    padding-top: 5px;
}

.goodlist li a {
    display: block;
    text-align: center;
    margin: 0 10px;
    height: 195px;
    position: relative;
}

.goodlist li img {
    width: 190px;
    height: 190px;
}

.goodlist li h2 {
    height: 24px;
    color: #e50000;
    text-align: center;
    text-align: left;
    font-size: 18px;
    font-family: "\534E\6587\7EC6\9ED1", Arial;
    line-height: 24px;
    margin: 0 10px;
    font-weight: normal;
}

.goodlist li h3 {
    overflow: hidden;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    margin-top: 3px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.goodlist li h3:hover {
    text-decoration: underline;
    color: #0cb95f;
}

.goodlist li .po {
    color: #999;
    margin: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    line-height: 26px;
    font-size: 13px;
}

.pager{
    margin: 10px 0;
    font-family: arial;
}
.pager{
    float:right;
}
.pager a{
    display:inline-block;
    width:60px;
    height:40px;
    background:#0cb95f;
    margin-right:10px;
    text-align: center;
    line-height:40px;
}

