*{
    padding: 0;
    margin: 0;
    }
    ul,li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    html{
        height: 100%;
    }
    body {
        background: #fff;
        color: #333;
        font-size: 12px;
        font-family: Arial,"宋体",Tahoma,Verdana,sans-serif,simsun;
    }
    .header_top {
        height: 40px;
        border-bottom: 1px solid #e5e5e5;
        background: #f4f4f4;
        color: #666;
        line-height: 40px;
        /* overflow: hidden; */
        min-width: 990px;
        position: relative;
        z-index: 400;
    }
    .header_top .container{
        position: relative;
        margin: 0 auto 0;
        width: 1190px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
    
    .header_top .left {
        width: 400px !important;
        /* border: 1px solid #000; */
       
    }
    .header_top .left {
        float: left;
        width: 255px;
        padding-left: 5px;
    }
    /* iselect big */
    /* 所有a */
    .header_top .left li a {
        white-space: nowrap;
        height: 40px;
        line-height: 40px;
        float: left;
        display: block;
    }
    .header_top .left li a:hover{
        text-decoration: underline;
        color: #0cb95f;
    }
    /* 所有s */
    .header_top li s {
        float: left;
        display: block;
        margin: 10px 10px 10px 10px;
        width: 1px;
        height: 20px;
        border-right: 1px solid #e5e5e5;
        font-size: 0;
        overflow: hidden;
    }
    /* 所有i*/
    .header_top li i {
        float: left;
        display: blomitemmitemk;
        margin: 12px 5px 31px 1px;
        width: 20px;
        height: 20px;
        /* border: 1px solid #000;   */
    }
    .header_top li {
        position: relative;
        float: left;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        z-index: 9997;
    }
    .icons {
        background-image: url(../img/icons.png);
        background-repeat: no-repeat;
    }
    .header_top .icons.fav {
        background-position: -2px -4px;
    }
    a {
        color: #333;
        text-decoration: none;
    }
    /* 微信 */
    .header_top .icons.wx {
        background-position: -49px -3px;
    }
    /* app */
    .header_top .icons.app {
        background-position: -68px -3px;
    }
    .header_top li .appbig {
        position: absolute;
        top: 40px;
        left: -80px;
        display: none;
    }
    .appbig .pic {
        position: relative;
        width: 258px;
        height: 258px;
        background: url(../img/icons.png);
    }
    .appbig .txt {
        padding: 0 10px 5px;
        width: 238px;
        color: #666;
        text-align: center;
        font-family: "\5FAE\8F6F\96C5\9ED1";
    }
    .header_top .right {
        width: 600px !important;
        float: right;

    } 
    .header_top .right li {
        float: right;
        width: 80px;
    }

    .header_top .right .daohang {
        position: relative;
        padding-left: 20px;
        margin-left: -20px;
    }
    .header_top .icons.dorpdown {
        background-position: -121px 1px;
        margin-right: 0;
    }
    .header_top li i {
        float: left;
        display: block;
        margin: 10px 5px 10px 0;
        width: 20px;
        height: 20px;
    }
    .header_top .right li .line {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10000;
        display: none;
        width: 100%;
        height: 1px;
        border-top: 0;
        border-bottom: 1px solid #fff;
    }
    .header_top .right .daohang .other{
        background: #fff;
        border: 1px solid #ccc;
        position: absolute;
        right: -1px;
        top: 40px;
        z-index: 2;
        width: 450px;
        padding: 10px 0;
        line-height: 1.5;
        display: none;
    }
    .header_top .right .daohang:hover{
        border: 1px solid #cccccc;
        background: #ffffff;
        /* border-top: none; */
        
    }
    .header_top .right .daohang:hover .other{
        display: block;
        border-top: #cccccc;
    }
    .header_top .right .daohang:hover .icons.dorpdown {
        background-position: -137px 1px;
    }
    .header_top .right .daohang:hover>a {
        color: #0cb95f;
    }
    div {
        height: auto;
    }
    .header_top .right .daohang .other .item {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        width: 44%;
        vertical-align: top;
        text-align: left;
    }
    .header_top .right .daohang .other .item .h1 {
        color: #0cb95f;
        font-size: 14px;
        padding: 0 0 5px 5px;
    }
    
    .header_top .right .daohang .other .item>a {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        padding: 2px 5px;
        color: #333;
    }
    .header_top .right .daohang .other .item+.item {
        border-left: 1px solid #ccc;
        padding-left: 20px;
    }
    .header_top .right .daohang .other .item {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        width: 44%;
        vertical-align: top;
        text-align: left;
    }
    .header_top .right li.n {
        padding-right: 0;
        
    }
    .header_top .right li.n:hover a{
        text-decoration: underline;
        color: #0cb95f;
    }
    .header_top .right li a.disa {
        display: block;
        float: left;
        
    }
    .header_top .right li a.disa:hover{
        color: #0cb95f;
        text-decoration: underline;
    }
       a.disa .other .item a:hover{
        text-decoration: underline;
        display: block;
    }
    


/* 以上为导航栏 */
/* 以上为导航栏 */
/* 以上为导航栏 */

.header.small .container {
    width: 1190px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
}   
.header.small .logo {
    float: left;
    height: 75px;
    width: 378px;

}
.header .logo .sub {
    float: right;
    margin: 10px;
    padding-left: 15px;
    height: 55px;
    border-left: 1px solid #e5e5e5;
    font-weight: bold;
    font-size: 24px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 55px;
}
/*  */
.register {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background: #f4f4f4;
    padding: 0 0 30px 0px;
}
.register .container {
    margin: 0 auto 0;
    width: 990px;
    /* border: 1px solid #000; */
    background: #f4f4f4;
    
    
}
.clearfix {
    clear: both;
    zoom: 1;
}
.register .form {
    padding: 30px 0;
}
.register .items{
    position: relative;
}
.register .items::after{
    content: '';
    width: 990px;
    height: 40px;   
    background: #ffffff;
    position: absolute;
    top: -30px;
    border-bottom: 1px dotted #cccccc;
    /* border-top: 1px dotted #cccccc; */
}
div {
    height: auto;
}
.register .form .navul{
    display: flex;
    align-items: center;
}
 .navul li {
    position: relative;
    float: left;
    width: 180px;
    height: 49px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    line-height: 49px;
}
 .navul li a.cur {
    height: 49px;
    border-top: 2px solid #0cb95f;
    background: #fff;
    color: #0cb95f;
    line-height: 49px;

}
.navul li a:hover{
    text-decoration: underline;
    color: #0cb95f;
}
 .navul li a {
    position: relative;
    display: block;
    border-top: 1px solid #e5e5e5;
    font-size: 18px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 49px;
}
.navul::after{
    height: 0;
    content: " ";
    font-size: 0; 
    display: block;
    visibility: hidden;
}

.iform li.line label {
    width: 165px;
    text-align: right;
    display: inline-block;
    line-height: 41px;
    padding: 10px 0 0 0 ;
    color: #666;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}


/* 表单 */
/* 表单 */
/* 表单 */
  .items { 
    border: 1px solid #e5e5e5;
    background: #fff;
    width: 990px;
    height: 884px;

}

.iform li{
    color: #666;
    font-size: 14px;
}
.iform li.line {
    margin: 10px 0;
    padding: 0px 0 10px 0;
    height: 40px;
    line-height: 40px;
    border-top: 1px dotted #ccc;
    background: #f9f9f9;
}
.iform li.line label {
    width: 165px;
    text-align: right;
    display: inline-block;
}
.iform li {
    padding: 10px 0;
    height: 40px;
    color: #666;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
}


.iform .note {
    float: left;
    display: block;
    margin-right: 14px;
    width: 170px;
    height: 40px;
    /* color: #999; */
    text-align: right;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
}
.iform .note label {
    margin-right: 5px;
    color: #e50000;
    vertical-align: middle;
    font-size: 16px;
    font-family: serif;
}

.iform .bginput i {
    position: absolute;
    top: 87px;
    left: 188px;
    display: block;
    width: 18px;
    height: 25px;
    line-height: 25px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -391px -109px;
}
.iform .bginput .pass1{
    position: absolute;
    top: 148px;
    left: 188px;
    display: block;
    width: 18px;
    height: 25px;
    line-height: 25px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -410px -109px;

}
.iform .bginput .pass2{
    position: absolute;
    top: 207px;
    left: 187px;
    display: block;
    width: 18px;
    height: 25px;
    line-height: 25px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -410px -109px;

}
.iform .bginput {
    display: inline-block;
    padding: 0 20px 0 35px;
    width: 322px;
    height: 40px;
    border: 1px solid #e5e5e5;
    color: #333;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
    background: #fff;
}
.iform .bginput input{
    display: inline-block;
    width: 265px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border: none;
    outline: 0;
}
.iform .bginput #txt_Mobile{
    margin-left: -20px;
}
.iform .bginput #txtMobileCode{
    margin-left: -20px;
    position: relative;
    display: inline-block;
    width: 235px;
    height: 40px;
    border: 1px solid #e5e5e5;
    
    
}
.iform .bginput  .bginputshouji{
  float: left;
  position: absolute;
  left: 426px;
  top: 321px;
  border: 1px solid #e5e5e5;
   font-size: 12px;
   width: 130px;
   height: 40px;
   text-align: center;
   background: #f4f4f4;
}


/* lline */
.selct li.line {
    margin: 10px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    border-top: 1px dotted #ccc;
    background: #f9f9f9;
    
}
.selct li.line label {
    width: 165px;
    text-align: right;
    display: inline-block;
    line-height: 41px;
    height: 41px;
    color: #666;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1"
}

/*  .selct de li    */
.selct li {
    padding: 10px 0;
    height: 40px;
    color: #666;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
}
.selct .note {
    float: left;
    display: block;
    margin-right: 10px;
    width: 170px;
    height: 40px;
    color: #999;
    text-align: right;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
}
.selct .bginput {
    position: relative;
}
.selct .bginput{
    outline: 0;

}
.selct .bginput {
    float: left;
    display: block;
}
.selct input{
 outline: 0;
}
 .selct .input_big  {
    padding: 0 20px 0 35px;
    width: 265px;
    height: 40px;
    border: 1px solid #e5e5e5;
    color: #333;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    line-height: 40px;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text
}

/* 固定电话 */
.selct #txtphone1{
    width: 60px;
    outline: 0;
}
.selct #txtphone2{
    width: 120px;
    outline: 0;
}
.selct .iselect {
    height: 32px;
    border: 1px solid #e5e5e5;
    min-width: 90px;
    height: 41px;
    outline: 0;
    text-indent: 0px;
    text-shadow: none;  
}

.selct #txtAddress{
    width: 472px;
    position: relative;
}
.selct #txtAddress{
    position: absolute;
    left: 180px;
    top: 680px;
}


.selct li.license {
    padding: 0 0 0 180px;
}
.ckdiv {
    position: relative;
    float: left;
    padding-left: 20px;
    cursor: pointer;
}
.selct li.license .ckdiv .ck {
    top: 12px;
}

.ck .checked {
    display:block;
    width: 16px;
    height: 16px;
    background-position: -60px -25px;;
    position: absolute;
    left: -3px;
    top:12px;
    background-image: url(../img/icons.png);
}

#xieyi{
color: #0cb95f;
   
}
#xieyi:hover{
    text-decoration: underline;
    color: #0cb95f;
}
a.btn2 {
    display: block;
    background: #0cb95f;
    color: #fff;
    text-align: center;
    float: left;
    width: 320px;
    line-height: 48px;
    margin-left: 180px;
}

/* footer */
.footer {
    margin-top: 0;
    min-width: 1190px;
    /* border: 1px solid #000; */
}

.footer .simple {
    color: #999;
    padding: 10px 0;
}

.footer .container.small {
    margin: 0 auto 0;
    width: 1190px;
}

.footer .simple p {
    text-align: center;
    padding: 6px 0;
}

.footer .simple p a {
    color: #999;
    margin: 0 6px;
}

.footer .simple p a:hover{
    text-decoration:underline;
}
